.page-container {
  	background-color: #282c34;
  	min-height: 100vh;
  	color: #ffffff;
  	display: flex;
  	flex-direction: column;
  	padding: 100px;
}

.page-title {
	text-align: center;
  	font-size: 30px;
  	font-weight: bold;
}

.input-container {
	background-color: #282c34;
	outline: none;
    border: none;
    border-bottom: 2px solid #ffffff;
    padding: 20px;
    color: #ffffff;
    margin-right: 25px;
}

::placeholder {
	color: #ffffff;
	opacity: 1;
}

.menu-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #ffffff;
	border-radius: 5px;
	position: absolute;
	padding: 20px;
	width: 250px;
	height: 250px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.option-container {
	height: 45px;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	border: none;
	color: #ffffff;
	font-weight: bold;
}

.option-container:hover {
	opacity: 0.8;
}

.details-container {
	font-weight: bold;
}

.icon {
	margin-right: 20px;
	margin-left: 20px;
}

.blue {
	background-color: #009688;
}

.red {
	background-color: #FF5722;
}
